@import '../../sass/abstracts/variables';

.header {
  margin: 40px;
}

.header a {
  color: $black;
}

.header p {
  font-size: 50px;
  text-align: right;
  position: relative;
  top: 0px;
  right: 0px;
}

/* FORMULAR */
.container form {
  width: 90%;
  max-width: 500px;
  padding: 50px 30px 20px;
  background: $white;
  border-radius: 4px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  resize: none;
}

form h3 {
  font-size: 30px;
  padding-bottom: 40px;
}

form p {
  font-size: 20px;
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px 0;
  position: relative;
}

.input-group input,
.input-group textarea {
  flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 17px;
}

::placeholder {
  font-size: 15px;
}

form button {
  background: $dark-purple;
  color: $white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}

form button:hover,
form button:active,
form button:focus {
  background: transparent;
  color: $dark-purple;
  border: 1px solid $dark-purple;
}

.dark .submit-alert a {
  color: $light-purple;
}